<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Gitpusher Category"
            id="gitpusher1.commands.category">
      </category>
      
      <command
            name="Push to Git"
            categoryId="gitpusher1.commands.category"
            id="gitpusher1.commands.gitPushCmd">
      </command>
      
      <command
            name="Create a Gist"
            categoryId="gitpusher1.commands.category"
            id="gitpusher1.commands.gistCreateCmd">
      </command>
      
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      
      <handler
            commandId="gitpusher1.commands.gitPushCmd"
            class="com.ddlab.tornado.handlers.GitPushHandler">
      </handler>
      
      <handler
            commandId="gitpusher1.commands.gistCreateCmd"
            class="com.ddlab.tornado.handlers.GitPushHandler">
      </handler>
      
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="gitpusher1.commands.gitPushCmd"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   -->
   
   
   
   <extension
         point="org.eclipse.ui.menus">
         
         <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
            
            <command
                  commandId="gitpusher1.commands.gitPushCmd"
                  icon="icons/github-16.png">              
               
               <visibleWhen>
                  <with  variable="activeMenuSelection" >
                  <iterate ifEmpty="false">
                  	<adapt type="org.eclipse.core.resources.IProject"/>
                  </iterate>
                  </with>
               </visibleWhen>
               
               
            </command>
         </menuContribution>
         
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any">
               
               <command
                     commandId="gitpusher1.commands.gistCreateCmd"
                     icon="icons/github-16.png">
                     
                     <visibleWhen>
                  <with  variable="activeMenuSelection" >
                  <iterate ifEmpty="false">
                    <adapt type="org.eclipse.core.resources.IFile"/>
                  </iterate>
                  </with>
               </visibleWhen>
                     
               </command>
         </menuContribution>
      
   </extension>

</plugin>
